# Jupyter Lab & ipython notebook File

## Cell Type

- Code
- Markdown/Text

## Cell mode

- Edit
- Command

## How to Execute cell

- **Shift + Enter : Execute current cell then select below cell**
- **Ctrl + Enter : Execute current cell then select current cell**
- Alt + Enter : Execute current cell then add new cell below

## Shortcut

- Set at 'Menu-Tool-Shortcut'
    - Cut cell: x
    - Copy cell: c
    - Paste cell: v
    - Delete cell: d + d
    - Insert new cell above: a
    - Insert new cell below: b
    - Convert cell to code: y
    - Convert to markdown: m
    - Calcel: z
    - Merge selected cells: Ctrl + Shift + m
    - **Split cells: Ctrl + Shift + -**
    - **Comments on/off: Ctrl + /**

# ★★★ Python Basic!★★★
1. Datatype: int, float, bool, string, list, dict
2. Grammar: def, for-loop, if-else, list comprehension
3. Library: numpy, pandas, matplotlib, pytorch, ...

# Basic data type

## Integer, True/False, Text

In [1]:
1

1

In [3]:
type(1)

int

In [4]:
type(1.0)

float

In [5]:
type(False)

bool

In [6]:
type('python')

str

In [7]:
type("python")

str

In [12]:
type('a')

str

In [15]:
type("p")

str

In [17]:
type('python'), type(.5)

(str, float)

In [19]:
a = 5
b = (a == 5)
c = 'KOR'
print(a, b, c)

5 True KOR

- 더하기

In [22]:
4 + 5

9

In [24]:
'BOK' + '2024'

'BOK2024'

In [26]:
'BOK' + 2024

TypeError: can only concatenate str (not "int") to str

- Numbers can be added to numbers, and strings can be added to strings.
- str(), float(), int() are used to chaning data type.

In [28]:
'BOK' + str(2024)

'BOK2024'

In [30]:
type(str(2024))

str

In [32]:
float(str(2024))

2024.0

- When applying arithmetic operations to the bool data type, False is treated as having a value of 0 and True as having a value of 1.

In [34]:
4 + True

5

In [36]:
4 + False

4

In [38]:
4 * True

4

In [40]:
4 * False

0

In [42]:
int(True)

1

- print()

In [44]:
1 + 2
2 + 3

5

In [46]:
print(1 + 2)
print(2 + 3)

3
5

- String format f-string

In [48]:
a = 2
b = 'two'
print(a, b)

2 two

In [50]:
print(f'{a} is {b}')

2 is two

In [52]:
print(f'{b} is {a:.2f}')

two is 2.00

In [54]:
print(f'{b} is {10000:,.2f}')

two is 10,000.00

## List

In [57]:
a = [1, 2, 3]
b = ['one', 'two', 'three']
c = [1, 'one', 1.0]

In [59]:
type(a)

list

In [61]:
a * 2   # reiteration

[1, 2, 3, 1, 2, 3]

In [63]:
b * 2

['one', 'two', 'three', 'one', 'two', 'three']

In [65]:
a + b

[1, 2, 3, 'one', 'two', 'three']

In [67]:
a + 4

TypeError: can only concatenate list (not "int") to list

In [69]:
a + 'four'

TypeError: can only concatenate list (not "str") to list

- An error occurs because the operation for adding numbers or strings to the list is not defined.

In [71]:
a + [4]

[1, 2, 3, 4]

In [73]:
b.append('four')
print(b)

['one', 'two', 'three', 'four']

- To add numbers to each item in a list of numbers, use list comprehension or for-loop.

In [75]:
for i in [1, 2, 3]:
    print(i+1)

2
3
4

In [77]:
[i + 1 for i in a]

[2, 3, 4]

- The NumPy ndarray data type, which we will cover later, looks like a list of numeric data, but you can add one number to it.

In [80]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

- Connect strings in a list with a specific symbol

In [85]:
b

['one', 'two', 'three', 'four']

In [87]:
':'.join(b)

'one:two:three:four'

- Python index starts from 0!!

In [89]:
a

[1, 2, 3]

In [91]:
a[0]

1

In [93]:
a[0:2]

[1, 2]

- list comprehension

In [ ]:
['KOR', 'USA', 'CHN'] - ['CHN', 'AUS']

In [ ]:
[s for s in ['KOR', 'USA', 'CHN'] if s not in ['CHN', 'AUS']]

- Adding strings to each string list item

In [ ]:
['Mr.' + s for s in ['Bob', 'Chali', 'Jack']]

- A string is a list consisting of each character (123.../abc... etc.)

In [ ]:
a = 'abcde'
a

In [ ]:
a[:3]

In [ ]:
a[-2:]

In [ ]:
"ABCDEF"[:2]

## Dictionary

In [ ]:
en_kr = {'SE':'Seoul', 'GG':'Gyeonggi', 'IC':'Incheon'}

In [ ]:
en_kr['SE']

In [ ]:
en_kr.keys()

In [ ]:
en_kr.values()

In [ ]:
en_kr['SE'] = 'Seoul'

In [ ]:
en_kr

- make a dictionary as dict, zip

In [100]:
dict(zip(['Korea', 'United States', 'Japan'], ['KR', 'US', 'JP']))

{'Korea': 'KR', 'United States': 'US', 'Japan': 'JP'}

# Grammar

- Use indentation (4 spaces) when defining for loop, if statements, and functions in Python.
    - In Jupyter Notebook, enter 4 spaces for tab.
- Although the degree of freedom in writing code is low, readability is greatly improved.


```
<C>
for (i=1; i<=n; i++) {
  printf("%d\n", i);
}

<matlab>
for i = 1:n
    disp(i)
end

<python>
for i in range(1, n+1):
    print(i)
```

## definition
```
def Function Name(Input variable 1, Input variable 2, ..):    
    ...    
    return Output variable 1, Output variable 2, ...    
    
```

In [ ]:
def sum_two_numbers(a, b):
    return a + b

In [ ]:
sum_two_numbers(1, 2)

In [ ]:
def sum_three_numbers(a, b, c=4):
    return a + 2*b + c

In [ ]:
sum_three_numbers(1, 2, 0)

In [ ]:
sum_three_numbers(1, 2)

In [ ]:
sum_three_numbers(b=2, a=1)

## for-loop, if-else

In [ ]:
countries = ['USA', 'KOR', 'CHN']
for c in countries:
    if c == 'KOR':
        print(c, 'is my country.')
    else:
        print(c, 'is not my country.')

## continue, break, pass

In [ ]:
countries = ['USA', 'KOR', 'CHN']
for c in countries:
    if c == 'KOR':
        print(c, 'is my country.')
    else:
        pass
    
    print(c)

In [ ]:
countries = ['USA', 'KOR', 'CHN']
for c in countries:
    if c == 'KOR':
        print(c, 'is my country.')
    else:
        continue
    
    print(c)

In [ ]:
countries = ['USA', 'KOR', 'CHN']
for c in countries:
    if c == 'KOR':
        print(c, 'is my country.')
        break
    
    print(c)